.features {
  margin-bottom: 27px;

  @include tablet {
    margin-bottom: 45px;
  }

  @include desktop {
    margin-bottom: 71px;
  }
}

.features__list {
  display: grid;

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
  }
}

.features__item {
  position: relative;
  min-height: 266px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background-color: $greycolor;

  @include tablet {
    padding-right: 0;
    padding-left: 52px;
  }

  &--first::before,
  &--first::after,
  &--second::before,
  &--second::after {
    content: "";
    position: absolute;
  }

  &--first::before,
  &--second::before {
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;

    @include tablet {
      width: 200px;
      height: 200px;
      top: 81px;
      right: 62px;
      margin-left: auto;
    }

    @include desktop {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      margin-left: 0;
    }
  }

  &--first::after {
    left: 31px;
    top: 22px;
    width: 36px;
    height: 50px;
    background-image: url("../img/svg/features/firstcat.svg");
    background-repeat: no-repeat;

    @include tablet {
      width: 140px;
      height: 192px;
      top: 70px;
      right: 92px;
      margin-left: auto;
      background-image: url("../img/svg/features/tabletfirst.svg");
    }

    @include desktop {
      width: 70px;
      height: 97px;
      top: 41px;
      right: 0;
      left: 67px;
      margin-left: 0;
      background-image: url("../img/svg/features/desktopfirst.svg");
    }
  }

  &--second::after {
    left: 14px;
    top: 34px;
    width: 67px;
    height: 28px;
    background-image: url("../img/svg/features/secondcat.svg");
    background-repeat: no-repeat;

    @include tablet {
      width: 268px;
      height: 112px;
      top: 127px;
      right: 27px;
      margin-left: auto;
      background-image: url("../img/svg/features/tabletsecond.svg");
    }

    @include desktop {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 33px;
      right: 0;
      margin-left: 0;
      background-image: url("../img/svg/features/desktopsecond.svg");
    }
  }

  @include tablet {
    min-height: 372px;
  }

  @include desktop {
    min-height: 374px;
  }
}

.features__title--first {
  padding-left: 69px;
}

.features__title--second {
  padding-left: 78px;
}

.features__title--first,
.features__title--second {
  @include tablet {
    padding-left: 0;
  }
}

.features__title {
  display: inline-block;
  margin-bottom: 29px;
  padding-top: 30px;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  color: $blackcolor;

  @include tablet {
    margin-bottom: 24px;
    padding-top: 77px;
    font-size: 36px;
    line-height: 36px;
  }

  @include desktop {
    padding-left: 181px;
    margin-bottom: 77px;
  }
}

.features__text {
  min-width: 227px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @include tablet {
    padding-bottom: 48px;
    margin-bottom: 0;
    border-bottom: 0;
  }

  @include desktop {
    min-height: 95px;
    padding-bottom: 23px;
  }
}

.features__item--first {
  .features__text {
    @include tablet {
      max-width: 377px;
    }
  }
}

.features__item--second {
  .features__text {
    @include tablet {
      max-width: 342px;
    }
  }
}

.features__link {
  position: relative;
  padding-top: 15px;
  padding-right: 49px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $blackcolor;

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
}

.features__link::before {
  content: "";
  position: absolute;
  right: 0;
  width: 32px;
  height: 10px;
  top: 20px;
  background-image: url("../img/svg/features/arrow.svg");

  @include tablet {
    top: 23px;
  }
}

.features__link:hover::before {
  background-image: url("../img/svg/features/arrow-hover.svg");
}
