.form-programm {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.form-programm__list {
  @media (min-width: $tablet-width) {
    padding: 25px;
    border: 1px solid #e7e7e7;
  }
}

.form-programm__item:last-child {
  margin-bottom: 0;
}

.form-programm--border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
