.form-programm {
  min-height: 157px;
  margin-bottom: 21px;
  padding-top: 10px;

  @include tablet {
    margin-bottom: 77px;
  }

  @include desktop {
    margin-bottom: 70px;
  }

  .label {
    @include tablet {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.form-programm__list {
  @media (min-width: $tablet-width) {
    padding: 25px;
    border: 1px solid #e7e7e7;
  }
}

.form-programm__item {
  @include tablet {
    padding-top: 17px;
    margin-bottom: 8px;
  }

  @include desktop {
    padding-top: 9px;
  }
}

.form-programm__item:last-child {
  margin-bottom: 0;
}

.form-programm--border {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
