input[type="text"] {
  width: 100%;
  padding: 13px 15px 13px 15px;
  margin-left: 14px;
  border: 1px solid #e7e7e7;
}

input[type="text"]:focus {
  border-color: $special_dark-grey;
}

input[type="text"]:hover {
  border-color: $grey;
}

.input {
  @include placeholder() {
    font-family: "Oswald", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $special_dark-grey;
  }
}
