.page-header {
  border-bottom: 1px solid #e6e6e6;

  @include tablet {
    border-bottom: 0;
  }
}

.page-header__logo-wrapper {
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: flex;
  align-items: center;
  min-height: 65px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header--img {
  position: relative;

  @include desktop {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      right: 0;
      top: 0;
      height: 694px;
      width: 50vw;
      background: $gradient, url("../img/promo/catdesk.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-color: $basic-green;

      @include retina() {
        background: $gradient, url("../img/promo/catdesk-2x.jpg");
        background-size: cover;
      }
    }
  }
}

.page-header__img {
  @include tablet {
    width: 174px;
    height: 51px;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-svg {
  @include tablet {
    display: none;
  }
}

.page-header__container {
  position: relative;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
  }

  @include desktop {
    padding-top: 53px;
  }
}

.page-header__logo-catenergy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__logo-text {
  @include tablet {
    display: none;
  }
}

.page-footer__link-vk,
.page-footer__link-instagram,
.page-footer__link-facebook {
  &:hover svg {
    fill: $basic-green;
  }
}

.page-footer__copyright:active {
  opacity: 0.7;

  .page-footer__link-facebook svg {
    fill: $basic-green;
  }
}

.page-footer__link-facebook {
  @include size(22px);
}
