.fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  // margin-bottom: 13px;
  border: none;

  // @include tablet {
  //   margin-bottom: 72px;
  // }

  // @include desktop {
  //   margin-bottom: 60px;
  // }

  &--desktop {
    @media (min-width: $desktop-width) {
      max-width: 46%;
    }
  }
}
