.list {
  display: flex;
  flex-wrap: wrap;

  @include list-reset;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.list__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;

  @include desktop {
    margin-bottom: 0;
  }
}

@include desktop {
  .list--desktop {
    flex-direction: column;
    min-height: 196px;
    padding: 0;
    margin-bottom: 0;
  }
}

.list--mob {
  margin-left: -20px;
  margin-right: -20px;
  padding: 20px;
  border-top: 1px solid $stroke;
  border-bottom: 1px solid $stroke;

  @include tablet {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
  }
}
