.button {
  width: 100%;
  padding: 8px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: $basic-green;
  border: none;

  &--form {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      width: 50%;
      padding: 13px 45px;
      margin-bottom: 0;
      font-size: 20px;
    }

    @media (min-width: $tablet-width) {
      margin-right: 81px;
    }
  }

  &--catalog {
    padding: 10px;
  }

  &--all {
    background-color: #d3d3d3;
    color: #444444;
  }

  &--extra {
    @media (min-width: $desktop-width) {
      max-width: 245px;
      min-height: 42px;
    }
  }
}

.button--promo {
  @media (min-width: $tablet-width) {
    max-width: 244px;
    margin-left: 83px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
