.button {
  @include size(100%, 40px);
  padding: 9px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: $basic-green;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $basic-green-2;
  }

  &:active {
    opacity: 0.3;
  }

  &--form {
    margin-bottom: 21px;

    @include tablet {
      width: 50%;
      max-width: 568px;
      min-height: 52px;
      padding: 13px 45px;
      margin-right: 81px;
      margin-bottom: 0;
      font-size: 20px;
    }
  }

  &--catalog {
    padding: 10px;
  }

  &--all {
    background-color: #d3d3d3;
    color: $special_dark-grey;

    &:hover {
      background-color: $special_grey-2;
    }
  }

  &--extra {
    @include desktop {
      max-width: 245px;
      min-height: 42px;
    }
  }
}

.button--promo {
  @include tablet {
    max-width: 244px;
    margin-left: 83px;
    padding: 14px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
