.product__header--link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/catalog/plus/plus.png");
    width: 30px;
    height: 30px;
  }
}

// .product__body--link,
// .product__title--link {
//   text-align: center;
// }

.product__body--link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__title--link {
  min-width: 204px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.product__text--link {
  min-width: 221px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}
