.catalog__list {
  @include list-reset;
  margin: 0 -20px;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-column-gap: 60px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 80px;
  }
}

.catalog-title {
  margin-bottom: 41px;

  @include tablet {
    margin-bottom: 83px;
  }
}

.catalog-title,
.catalog__item {
  position: relative;
}

.catalog__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  min-height: 190px;
  margin-bottom: 25px;
  border-top: 1px solid $stroke;

  @include tablet {
    flex-direction: column;
    min-height: 511px;
    margin-bottom: 67px;
    padding: 0;
    background: linear-gradient(to top, #f2f2f2 85%, white 15%);
    border-top: none;

    &::before {
      width: 0;
    }

    &--container {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

.catalog__item:last-child {
  padding-bottom: 25px;
  border-bottom: 1px solid $stroke;

  @include tablet {
    padding-bottom: 40px;
  }
}

.catalog__item--link {
  @include tablet {
    position: relative;
    align-self: end;
    min-height: 429px;
    background: none;
    border: 1px solid $grey;
  }

  .product__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
    margin-top: auto;
    padding-top: 23px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 30px;
      height: 30px;
      background-image: url("../img/svg/catalog-link/plus-small.svg");

      @include tablet {
        width: 60px;
        height: 60px;
        background-image: url("../img/svg/catalog-link/plus-big.svg");
        transform: translateY(-106px);
      }
    }
  }

  .product__title {
    max-width: 100%;
  }

  .product__text {
    min-width: 221px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: $special_dark-grey;

    @include tablet {
      max-width: 167px;
      padding-bottom: 87px;
      font-size: 16px;
      line-height: 18px;
    }
  }
}
