.title-main {
  padding-top: 27px;
  margin-bottom: 37px;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    padding-top: 64px;
    margin-bottom: 54px;
    font-size: 60px;
    line-height: 60px;
  }
}
