.works {
  margin-bottom: 42px;
}

.works__title {
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 300px;

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.works__item {
  display: flex;
  align-items: center;
  list-style: none;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    width: 50%;
    min-height: 280px;
  }
}

.works__item:not(:last-child) {
  margin-bottom: 20px;
}

.works__item--one {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../svg/works/groupone.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 112px;
      height: 280px;
      background-image: url("../svg/works/1.svg");
      background-repeat: no-repeat;
    }
  }
}

.works__item--two {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../svg/works/grouptwo.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 134px;
      height: 280px;
      background-image: url("../svg/works/2.svg");
      background-repeat: no-repeat;
    }
  }
}

.works__item--three {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../svg/works/groupthree.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 134px;
      height: 280px;
      background-image: url("../svg/works/3.svg");
      background-repeat: no-repeat;
    }
  }
}

.works__item--four {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-image: url("../svg/works/groupfour.svg");
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 136px;
      height: 280px;
      background-image: url("../svg/works/4.svg");
      background-repeat: no-repeat;
    }
  }
}

.works__text {
  padding-left: 80px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: $tablet-width) {
    max-width: 247px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
