.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  &--map {
    padding: 0;

    @media (min-width: $desktop-width) {
      padding-top: 95px;
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
