.radio {
  appearance: none;

  & + label {
    margin-left: 60px;
    margin-bottom: 13px;
  }

  & + label::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../../svg/radio/radio.svg");
    cursor: pointer;
  }

  &:checked + label::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background-image: url("../../svg/radio/radio-checked.svg");
  }
}
