.radio {
  appearance: none;
  cursor: pointer;

  & + label {
    margin-left: 47px;
    margin-bottom: 11px;

    @include tablet {
      margin-left: 64px;
      margin-bottom: 5px;
    }

    @include desktop {
      margin-left: 57px;
      margin-bottom: 5px;
    }
  }

  & + label::before {
    content: " ";
    position: absolute;
    top: -7px;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid $stroke;
    border-radius: 50%;
    cursor: pointer;

    @include tablet {
      left: 7px;
      top: 14px;
    }

    @include desktop {
      left: -2px;
      top: 4px;
    }
  }

  &:checked + label::before {
    content: " ";
    position: absolute;
    top: -7px;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #bababa;
    border-radius: 50%;
    cursor: pointer;

    @include tablet {
      left: 7px;
      top: 14px;
    }

    @include desktop {
      left: -2px;
      top: 4px;
    }
  }
}

.radio:checked + label::after,
.radio:hover + label::after {
  content: " ";
  position: absolute;
  top: 1px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: $basic-green;
  border-radius: 50%;
  cursor: pointer;

  @include tablet {
    top: 22px;
    left: 15px;
  }

  @include desktop {
    top: 12px;
    left: 6px;
  }
}

.radio:hover + label::before {
  border: 1px solid #bababa;
}

.radio:disabled + label::before,
.radio:disabled + label::after,
.radio:disabled + label {
  opacity: 0.6;
  cursor: pointer;
}
