.extra {
  margin-bottom: 35px;
  overflow: hidden;
}

.extra-container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.extra__list {
  width: 100%;
  padding: 0;
  margin-bottom: 39px;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    max-width: 894px;
    padding: 0;
  }
}

.extra__item {
  position: relative;
  min-height: 98px;
  padding-top: 13px;
  padding-bottom: 18px;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
    font-size: 16px;
    line-height: 16px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    min-height: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    line-height: 20px;
    border-left: 0;
    border-right: 0;
  }
}

.extra__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra__item-title {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $tablet-width) {
    width: 50%;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 0;
  }
}

.extra-gift {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 289px;

  &::before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/catalog/gift/gift-m.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    max-height: 289px;
  }
}

.extra__desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    max-width: 244px;
    width: 100%;
    margin-right: 38px;
    margin-bottom: 0;
  }
}

.extra__desc-item:first-child {
  @media (min-width: $tablet-width) {
    padding-right: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.extra__text {
  display: flex;
  justify-content: center;
  max-width: 161px;
  margin: auto;
  padding-top: 126px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    align-items: center;
    padding-top: 0;
    margin: 0;
    margin-left: auto;
    margin-right: 124px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 126px;
    margin: auto;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 55px;
    width: 78px;
    height: 80px;
    background-image: url("../img/catalog/gift/icon_gift.png");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      left: 78px;
    }

    @media (min-width: $desktop-width) {
      left: 83px;
    }
  }
}
