.product {
  padding: 0 20px;
  padding-top: 12px;

  @include tablet {
    padding: 0 36px;
    padding-bottom: 40px;
  }

  @include desktop {
    padding: 0 38px;
    padding-bottom: 40px;
  }
}

.product__header {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 140px;
  height: 112px;

  @include tablet {
    width: 169px;
    height: 205px;
    margin-bottom: 34px;
  }
}

.product__img {
  @include tablet {
    width: 100%;
    height: 100%;
  }
}

.product__body {
  width: 50%;
  min-height: 112px;

  @include tablet {
    @include size(100%, 157px);
    margin-bottom: 30px;
  }
}

.product__title {
  max-width: 76px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @include tablet {
    max-width: 145px;
    margin: auto;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @include desktop {
    line-height: 21px;
  }
}

.product__desc-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 89px;
}

.product__desc-item {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #444444;

  &--end {
    text-align: end;
  }

  @include tablet {
    margin-bottom: 9px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 15px;
    line-height: 17px;
  }
}

.product-link__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
