.checkbox {
  appearance: none;

  & + label {
    margin-left: 60px;
    margin-bottom: 13px;
  }

  & + label::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background-image: url(../../svg/checkbox/checkbox.svg);
    cursor: pointer;
  }

  &:checked + label::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-image: url(../../svg/checkbox/checkbox-checked.svg);
  }

  &:disabled + label::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    border: 1px solid #bababa;
  }
}
