.promo {
  position: relative;
  margin-bottom: 22px;
  text-align: center;
  color: $white;
  min-height: 480px;

  @include tablet {
    min-height: 873px;
    margin-bottom: 0;
    color: $blackcolor;
  }

  @include desktop {
    min-height: 582px;
    margin-bottom: 82px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 302px;
    width: 100%;
    background: $gradient, url("../img/promo/catmobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $basic-green;

    @include retina {
      background: $gradient, url("../img/promo/catmobile-2x.jpg");
      background-size: cover;
    }

    @include tablet {
      background: none;
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
}

.promo__title {
  position: relative;
  padding-top: 27px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @include tablet {
    max-width: 414px;
    margin-bottom: 41px;
    margin-left: 87px;
    padding-top: 62px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }

  @include desktop {
    padding-top: 111px;
  }
}

.promo__slogan {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @include tablet {
    margin-bottom: 49px;
    margin-left: 87px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.promo-pic {
  display: flex;
  justify-content: center;

  @include tablet {
    order: 1;
  }
}

.promo__img {
  position: relative;
  order: 0;

  @include tablet {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 270px;
    width: 709px;
    height: 609px;
    transform: translateX(-50%);
  }

  @include desktop {
    position: absolute;
    top: 55px;
    width: 552px;
    height: 449px;
    transform: translateX(-30%);
  }
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
}
