.promo {
  position: relative;
  margin-bottom: 22px;
  text-align: center;
  color: $white;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    min-height: 873px;
    color: $blackcolor;
  }

  @media (min-width: $tablet-width) {
    min-height: 582px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 302px;
    width: 100%;
    background: $gradient, url("../img/promo/cat.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: $tablet-width) {
      background: none;
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;
}

.promo__title {
  position: relative;
  padding-top: 27px;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    max-width: 414px;
    margin-bottom: 41px;
    margin-left: 87px;
    padding-top: 62px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
  }
}

.promo__slogan {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
    margin-left: 87px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
}
