.promo {
  position: relative;
  margin-bottom: 22px;
  text-align: center;
  color: $white;
  min-height: 480px;
  background-image: url("../img/promo/cat.png");
  background-repeat: no-repeat;
  background-size: 302px;

  @media (min-width: $tablet-width) {
    min-height: 873px;
    color: $blackcolor;
  }

  @media (min-width: $tablet-width) {
    min-height: 582px;
  }
}

.promo__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  font-size: 14px;
  line-height: 14px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: $white;
}
