.page-footer {
  background-color: $greycolor;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.page-footer__social {
  list-style: none;
}
