.form__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.form__text {
  max-width: 226px;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $blackcolor;

  @media (min-width: $tablet-width) {
    max-width: 323px;
    margin-bottom: 66px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form-contact__item {
  @media (min-width: $desktop-width) {
    max-width: 46%;
  }
}

.form-extra__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.form__legend {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @include tablet {
    align-items: center;
    max-width: 180px;
    margin-right: auto;
    font-size: 16px;
    line-height: 16px;
  }
}

.form-contact__item-phone,
.form-contact__item-email {
  position: absolute;
  right: 0;
  fill: $blackcolor;
  outline: 1px solid red;
}

.form-contact__item-email {
  stroke: #222222;
}
