.map {
  background-image: url("../img/map/location.png");
  min-height: 362px;
  background-position: center center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.map__wrapper {
  min-height: 114px;

  @media (min-width: $tablet-width) {
    min-height: 201px;
  }
}

.map__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
}

.map__addres {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
