.map {
  position: relative;
  min-height: 460px;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url("../img/map/location.png");
    background-position: center;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    min-height: 600px;
  }
}

.map__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-top: 33px;
  min-height: 114px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 0 71px;
    padding-top: 66px;
    min-height: 201px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    max-width: 570px;
    max-height: 201px;
    padding-top: 66px;
    left: 0;

    .container {
      padding: 0;
    }
  }
}

.map__title {
  display: inline-block;
  max-width: 140px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    font-size: 20px;
    line-height: 22px;
  }
}

.map__addres {
  max-width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @media (min-width: $tablet-width) {
    max-width: 163px;
    font-size: 16px;
    line-height: 20px;
  }
}
