.map {
  position: relative;
  min-height: 476px;

  @include tablet {
    min-height: 600px;
  }

  @include desktop {
    min-height: 400px;
  }
}

.map__container {
  max-width: 1220px;
  padding: 0;
}

.map__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 114px;
  background-color: #f2f2f2;

  @include tablet {
    padding: 0 71px;
    min-height: 201px;
  }

  @include desktop {
    justify-content: space-around;
    max-width: 570px;
    max-height: 201px;
    background-color: #ffffff;
    transform: translateY(95px);
  }

  &--index {
    background-color: #ffffff;
  }
}

.map__title {
  display: inline-block;
  max-width: 140px;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;

  @include tablet {
    max-width: 163px;
    font-size: 20px;
    line-height: 22px;
  }
}

.map__addres {
  max-width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;

  @include tablet {
    max-width: 163px;
    min-height: 80px;
    text-align: end;
    font-size: 16px;
    line-height: 20px;
  }
}

.map__street {
  @include tablet {
    display: inline-block;
    margin-bottom: 23px;
  }
}

.map__img {
  position: absolute;
  z-index: -1;

  left: 0;
  width: 100%;
  height: 362px;

  @include tablet {
    height: 400px;
  }

  @include desktop {
    top: 0;
  }
}

.iframe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 362px;

  @include tablet {
    min-height: 400px;
  }

  @include desktop {
    top: 0;
  }
}
