.example {
  background-color: #f2f2f2;
}

.example__title {
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__container {
  display: flex;
  flex-direction: column;
  min-height: 705px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    min-height: 1081px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    min-height: 656px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
