.example {
  position: relative;
  min-height: 691px;
  background-color: $basic_grey;
  overflow: hidden;

  @include tablet {
    min-height: 1031px;
    background-color: $white;
  }

  @include desktop {
    min-height: 656px;
  }
}

.example::before {
  @include tablet {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 463px;
    background-color: $basic_grey;

    @include desktop {
      height: 474px;
    }
  }
}

.example__wrapper {
  @include desktop {
    min-width: 570px;
  }
}

.example__title {
  margin-bottom: 33px;
  padding-top: 13px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @include tablet {
    padding-top: 46px;
    margin-bottom: 70px;
    font-size: 60px;
    line-height: 48px;
  }

  @include desktop {
    margin-bottom: 153px;
    padding-top: 64px;
  }
}

.example__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;

  @include tablet {
    min-height: 1081px;
  }

  @include desktop {
    flex-wrap: nowrap;
    min-height: 656px;
  }
}

.example__text {
  margin-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @include tablet {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    max-width: 436px;
    margin-bottom: 61px;
  }
}

.example__price {
  width: 100%;
  padding-top: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    max-width: 175px;
    padding-top: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @include desktop {
    max-width: 100%;
    padding-top: 61px;
    text-align: start;
  }
}

.example__price-rub {
  @include desktop {
    margin-left: 58px;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;

  @include tablet {
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }

  @include desktop {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}

.example__result-item:first-child {
  margin-right: auto;

  @include tablet {
    margin-right: 42px;
  }
}

.example__result-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  max-width: 100%;
  width: 44%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  @include tablet {
    max-width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 37px;
  }

  @include desktop {
    min-height: 80px;
  }
}

.example__weight-lost,
.example__time {
  position: absolute;
  max-width: 77px;
  transform: translateY(31px);
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  background-color: $basic_grey;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
    transform: translateY(37px);
    background-color: $white;
  }

  @include desktop {
    background-color: $basic_grey;
  }
}

.example__weight-lost {
  @include tablet {
    min-width: 113px;
  }
}

.example__time {
  @include tablet {
    min-width: 147px;
  }
}

.example__img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
  height: 240px;

  @include tablet {
    justify-content: normal;
    height: 536px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-bottom: 19px;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__polzunok {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 624px;
  min-height: 40px;
  margin-left: auto;

  @include tablet {
    min-height: 30px;
    max-width: 690px;
  }

  @include desktop {
    max-width: 619px;
  }
}

.example__slider {
  min-height: 311px;
  width: 100%;

  @include tablet {
    margin: 0 auto;
    width: 690px;
  }
}

.example__before,
.example__after {
  text-align: center;
}

.example__before {
  @include tablet {
    width: 50%;
    overflow: hidden;
    background: linear-gradient(to top, #f2f2f2 70%, white 15%);
  }

  @include desktop {
    width: 54%;
    background: linear-gradient(to top, #f2f2f2 66%, white 15%);
  }
}

.example__after {
  display: none;

  @include tablet {
    position: absolute;
    display: block;
    z-index: -1;
    right: 52px;
  }

  @include desktop {
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 122px;
      width: 100vw;
      height: 103%;
      background: linear-gradient(to top, #ebebeb 89%, #ffffff 15%);
      left: 263px;
    }
  }
}

.example__before-img {
  @include tablet {
    width: 692px;
    height: 520px;
  }

  @include desktop {
    width: 677px;
    height: 520px;
  }
}

.example__after-img {
  @include tablet {
    width: 535px;
    height: 520px;
  }

  @include desktop {
    width: 522px;
    height: 520px;
  }
}

.example .example__polzunok-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px dotted $grey;

    &:hover {
      border-bottom: 2px solid $grey;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

.example__range {
  @include tablet {
    position: relative;
    margin: 0 17px;
    width: 438px;
    height: 6px;
    background: $grey;
    border-radius: 6px;
  }
}

.example__range-button {
  display: none;

  @include tablet {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: -14px;
    width: 34px;
    height: 34px;
    transform: translateX(-50%);
    border: none;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &:hover {
      box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.16);
    }

    &:active {
      border: 1px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      margin: auto;
      background-color: $basic-green;
      border-radius: 50%;
    }
  }
}
