.example {
  position: relative;
  background-color: #f2f2f2;

  @include tablet {
    background-color: #ffffff;
  }

  @include desktop {
    min-height: 656px;
  }
}

.example::before {
  @include tablet {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 462px;
    background-color: #f2f2f2;
  }
}

.example__wrapper {
  @include desktop {
    min-width: 570px;
  }
}

.example__title {
  margin-bottom: 33px;
  padding-top: 27px;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @include tablet {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @include desktop {
    margin-bottom: 146px;
  }
}

.example__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  max-height: 705px;

  @include tablet {
    max-height: 1081px;
  }

  @include desktop {
    flex-wrap: nowrap;
    max-height: 656px;
  }
}

.example__text {
  margin-bottom: 26px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @include tablet {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    max-width: 436px;
    margin-bottom: 69px;
  }
}

.example__price {
  width: 100%;
  padding-top: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  @include tablet {
    max-width: 175px;
    padding-top: 0;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @include desktop {
    max-width: 100%;
    padding-top: 55px;
    text-align: start;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;

  @include tablet {
    align-items: center;
    flex-wrap: nowrap;
  }

  @include desktop {
    flex-wrap: wrap;
  }
}

.example__result-item:first-child {
  margin-right: auto;

  @include tablet {
    margin-right: 42px;
  }
}

.example__result-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  max-width: 100%;
  width: 46%;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  @include tablet {
    max-width: 162px;
    min-height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__weight-lost,
.example__time {
  position: absolute;
  max-width: 77px;
  transform: translateY(35px);
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  background-color: #f2f2f2;

  @include tablet {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  @include desktop {
    background-color: #f2f2f2;
  }
}

.example__weight-lost {
  @include tablet {
    min-width: 113px;
  }
}

.example__time {
  @include tablet {
    min-width: 147px;
  }
}

.example__img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
  height: 240px;

  @include tablet {
    height: 536px;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.example__polzunok {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-bottom: 25px;
}

.example__slider {
  min-height: 311px;
  width: 100%;

  @include desktop {
    width: 690px;
  }
}

.example__before,
.example__after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.example__before {
  background-image: url("../img/slider/before/mobile/before.png");

  @include retina {
    background-image: url("../img/slider/before/mobile/before@2x.png");
  }

  @include tablet {
    background-image: url("../img/slider/before/desk/before.png");

    @include retina {
      background-image: url("../img/slider/before/desk/before@2x.png");
    }
  }
}

.example__after {
  width: 0;
  background-image: url("../img/slider/after/mobile/after.png");

  @include retina {
    background-image: url("../img/slider/after/mobile/after@2x.png");
  }

  @include tablet {
    background-image: url("../img/slider/after/desk/after.png");

    @include retina {
      background-image: url("../img/slider/after/desk/after@2x.png");
    }
  }
}

.example__polzunok-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  @include tablet {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 2px dotted $grey;

    &:hover {
      border-bottom: 2px solid $grey;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

.example__range {
  @include tablet {
    position: relative;
    margin: 0 17px;
    width: 100%;
    height: 6px;
    background: $grey;
    border-radius: 6px;
  }
}

.example__range-button {
  @include tablet {
    position: relative;
    top: -14px;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;

    &:hover {
      box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.16);
    }

    &:active {
      border: 1px solid $basic-green;
    }

    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 15px;
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
    }
  }
}
